h1 {
  color: red;
}

@media (min-width: 450px) {
  .austin {
    width: 470px;
    height: 75px;
  }
}

@media (max-width: 451px) {
  .austin {
    display: none;
  }
}

.Red {
  background-color: red;
}

.Blue {
  background-color: blue;
}

.Grey {
  background-color: grey;
}

#part3 {
  background-color: green;
}

